{% extends 'base.html' %}

{% block content %}

<div class="heroimage" title="Fruit and vegetables in a box">

    <div class="herotext">

        <p>Welcome to Greenfield Local Hub <br />Your local farmers coop</p>

    </div>

    <a href="/about" class="herolink">About us</a>

</div>

<br />

<div class="homecontainer">

    <div class="container">
        <p>
            Greenfield Local Hub is a local farmers coop
            that is dedicated to ensuring our customers get the freshest,
            environmentally friendly,
            produce possible all while supporting the local community.
        </p>
    </div>

    <div class="homelinkscontainer">
        <div class="container">
            <a href="/about">Learn more</a>
        </div>

        <div class="container">
            <a href="/products">View our products</a>
        </div>
    </div>

</div>




{% endblock %}